# Etapa 1 - Projeto Desenvolvedor üöÄ

### Introdu√ß√£o
**Integrantes do projeto**: Aline Santos, Luana Tavares, Gustavo Luca e Marcos Eduardo Resende. 

O objetivo deste trabalho √© proporcionar aos participantes a viv√™ncia de diversos desafios enfrentados por cientistas de dados em sua atua√ß√£o profissional.Para isso, est√£o dispon√≠veis dois conjuntos de dados: **dados de criminalidade do estado de S√£o Paulo (SPSafe) e dados demogr√°ficos dos munic√≠pios brasileiros (BrStats)**.

Cada conjunto de dados √© acompanhado por um artigo que descreve detalhadamente o processo de gera√ß√£o e organiza√ß√£o das informa√ß√µes. A leitura atenta desses artigos √© essencial para o bom desenvolvimento do projeto e deve ser realizada por todos os membros do grupo. 

A escolha do conjunto de dados a ser utilizado est√°  vinculada √† turma pr√°tica no qual o grupo est√° matriculado. Como pertecemos √† **turma pr√°tica P1**, utilizaremos o conjunto de dados **BrStats**.

O artigo de refer√™ncia para esse conjunto de dados pode ser acessado por meio do seguinte link: https://sol.sbc.org.br/index.php/dsw/article/view/25506

### Descri√ß√£o Etapa 1
Nesta etapa, o grupo ir√° fazer uma primeira an√°lise dos dados, para identificar os atributos existentes, e elaborar uma lista com pelo menos 10 perguntas que pretende responder com o trabalho. Tamb√©m devem ser feitos tratamentos dos dados em termos de formata√ß√£o, enriquecimento com novos atributos externos, tratamento de aus√™ncias, dentre outros. Essa etapa envolve entender os atributos e objetos dos dados, o tipo e o dom√≠nio de cada atributo, verificar e identificar poss√≠veis ru√≠dos ou informa√ß√µes ausentes, criar novos atributos se necess√°rio, formatar valores, juntar conjuntos de dados, dentre outras atividades.

### üõ†Ô∏è Prepara√ß√£o do Ambiente
Nesta se√ß√£o, ser√£o apresentados os comandos necess√°rios para preparar o ambiente de an√°lise. Isso inclui a importa√ß√£o das bibliotecas utilizadas, o carregamento do conjunto de dados e sua visualiza√ß√£o inicial.

#### üìö Bibliotecas Necess√°rias

In [1]:
import pandas as pd
import numpy as np

#### üì• Importa√ß√£o dos Dados
Utilizamos o seguinte comando para carregar a tabela de dados localizada no mesmo diret√≥rio do projeto.O par√¢metro sep=";" √© utilizado para informar que os dados no arquivo est√£o separados por ponto e v√≠rgula (;).Dessa forma, o pandas consegue interpretar corretamente as colunas e montar a tabela (DataFrame) com os dados organizados.

In [2]:
df = pd.read_csv("BrStats.csv", sep = ";")

C:\Users\Dudu\AppData\Local\Temp\ipykernel_1400\1085877892.py:1: DtypeWarning: Columns (2,3,4,5,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("BrStats.csv", sep = ";")

#### üëÄ Visualiza√ß√£o Inicial dos Dados
Ap√≥s a importa√ß√£o, usamos df.info() para visualizar a estrutura da tabela, como tipos de dados e valores nulos. J√° o comando display(df) exibe a tabela de forma mais organizada no Jupyter, facilitando a visualiza√ß√£o dos dados.

In [3]:
display(df)
df.info()

,Ano,CDMunicipio,Populacao,PessoalOcupado,PessoalAssalariado,VrSalarios,PIB,QtEmpresas,AreaPlantada_h,AreaColhida_h,...,Exportacoes_US$,Receitas_R$,Transferencias_correntes_R$,Transferencias_capital_R$,NrNascimentos,NrObitosInfantis,povoamento,UF,Municipio,Regiao
0,2016,3509452,5.932,854,537,13.692,111.190,252.0,38.0,38.0,...,NaN,"25.511.889,220","18.911.068,400","1.665.392,540",80.0,0.0,"32,065",SP,Campina do Monte Alegre,Sudeste
1,2016,3123601,27.505,5.680,4.778,104.977,554.663,671.0,3.0,3.0,...,"1.777.256,000","63.002.672,933","45.304.154,440","538.882,600",299.0,3.0,"55,065",MG,El√≥i Mendes,Sudeste
2,2016,3552007,6.193,668,580,12.519,62.441,83.0,0.0,0.0,...,NaN,"30.492.825,449","21.861.157,950","1.048.458,040",59.0,2.0,"14,930",SP,Silveiras,Sudeste
3,2016,3305604,21.279,3.087,2.669,80.161,403.121,290.0,0.0,0.0,...,NaN,"140.538.926,872","100.508.822,360","871.234,340",272.0,2.0,"22,698",RJ,Silva Jardim,Sudeste
4,2016,1717008,4.534,212,183,5.309,48.551,34.0,94.0,34.0,...,NaN,"15.541.375,953","13.178.989,760","8.037,870",43.0,1.0,"2,908",TO,Pindorama do Tocantins,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33415,2021,2705408,7.171,463.0,436.0,10.502,NaN,32.0,0.0,0.0,...,NaN,NaN,NaN,NaN,135.0,3.0,"83,287",AL,Monteir√≥polis,Nordeste
33416,2021,1600105,9.265,428.0,383.0,9.932,NaN,38.0,0.0,0.0,...,NaN,NaN,NaN,NaN,160.0,2.0,"1,010",AP,Amap√°,Norte
33417,2019,2605459,3.061,2.21,1.773,43.093,192.775,289.0,0.0,0.0,...,NaN,NaN,NaN,NaN,32.0,1.0,"180,059",PE,Fernando de Noronha,Nordeste
33418,2020,1503002,7.07,538.0,514.0,12.207,63.579,32.0,0.0,0.0,...,NaN,NaN,NaN,NaN,149.0,4.0,"0,601",PA,Faro,Norte
33419,2021,3166709,8.725,852.0,773.0,28.283,NaN,82.0,6.0,6.0,...,NaN,NaN,NaN,NaN,106.0,1.0,"40,847",MG,Serra dos Aimor√©s,Sudeste

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33420 entries, 0 to 33419
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Ano                          33420 non-null  int64
 1   CDMunicipio                  33420 non-null  int64
 2   Populacao                    33390 non-null  object
 3   PessoalOcupado               33390 non-null  object
 4   PessoalAssalariado           33390 non-null  object
 5   VrSalarios                   33390 non-null  object
 6   PIB                          27825 non-null  object
 7   QtEmpresas                   33390 non-null  float64
 8   AreaPlantada_h               33348 non-null  float64
 9   AreaColhida_h                33348 non-null  float64
 10  VlProducaoAgricola           33348 non-null  float64
 11  VlProducaoPecuaria           33384 non-null  float64
 12  Area                         33390 non-null  object
 13  Importacoes_US$              13045 non-null  object
 14  Exportacoes_US$              12028 non-null  object
 15  Receitas_R$                  22247 non-null  object
 16  Transferencias_correntes_R$  33177 non-null  object
 17  Transferencias_capital_R$    33177 non-null  object
 18  NrNascimentos                33420 non-null  float64
 19  NrObitosInfantis             33420 non-null  float64
 20  povoamento                   33390 non-null  object
 21  UF                           33420 non-null  object
 22  Municipio                    33420 non-null  object
 23  Regiao                       33420 non-null  object
dtypes: float64(7), int64(2), object(15)
memory usage: 6.1+ MB

### üßπ Limpeza e Prepara√ß√£o dos Dados
A seguir, apresentamos as etapas que escolhemos para o tratamento e organiza√ß√£o dos dados da tabela utilizada em nossa an√°lise.

#### üóëÔ∏èRemo√ß√£o de Colunas
Removemos as colunas CDMunicipio,VrSalarios,AreaColhida_h,Importacoes_US$,Receitas_R$,Transferencias_correntes_R$ e Transferencias_capital_R$ por n√£o serem relevantes para os objetivos da nossa an√°lise. Como essas informa√ß√µes n√£o ser√£o utilizadas, sua exclus√£o ajuda a deixar o conjunto de dados mais limpo e focado nas vari√°veis que realmente importam para a pesquisa.

In [4]:
df = df.drop(columns=['Importacoes_US$','Receitas_R$'])

In [5]:
df = df.drop(columns=['Transferencias_correntes_R$','Transferencias_capital_R$'])

#### Adicionando Zeros

Nas colunas nulas (NaN), optamos por adicionar zeros, para melhorar a visualiza√ß√£o e a manipul√ß√£o dos dados posteriormente.

In [6]:
df.fillna(0, inplace=True)
display(df)

,Ano,CDMunicipio,Populacao,PessoalOcupado,PessoalAssalariado,VrSalarios,PIB,QtEmpresas,AreaPlantada_h,AreaColhida_h,VlProducaoAgricola,VlProducaoPecuaria,Area,Exportacoes_US$,NrNascimentos,NrObitosInfantis,povoamento,UF,Municipio,Regiao
0,2016,3509452,5.932,854,537,13.692,111.190,252.0,38.0,38.0,86.0,1.0,"185,000",0,80.0,0.0,"32,065",SP,Campina do Monte Alegre,Sudeste
1,2016,3123601,27.505,5.680,4.778,104.977,554.663,671.0,3.0,3.0,649.0,99.0,"499,500","1.777.256,000",299.0,3.0,"55,065",MG,El√≥i Mendes,Sudeste
2,2016,3552007,6.193,668,580,12.519,62.441,83.0,0.0,0.0,3.0,57.0,"414,800",0,59.0,2.0,"14,930",SP,Silveiras,Sudeste
3,2016,3305604,21.279,3.087,2.669,80.161,403.121,290.0,0.0,0.0,4.0,7.0,"937,500",0,272.0,2.0,"22,698",RJ,Silva Jardim,Sudeste
4,2016,1717008,4.534,212,183,5.309,48.551,34.0,94.0,34.0,0.0,4.0,"1.559,100",0,43.0,1.0,"2,908",TO,Pindorama do Tocantins,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33415,2021,2705408,7.171,463.0,436.0,10.502,0,32.0,0.0,0.0,0.0,7.0,"86,100",0,135.0,3.0,"83,287",AL,Monteir√≥polis,Nordeste
33416,2021,1600105,9.265,428.0,383.0,9.932,0,38.0,0.0,0.0,4.0,0.0,"9.175,900",0,160.0,2.0,"1,010",AP,Amap√°,Norte
33417,2019,2605459,3.061,2.21,1.773,43.093,192.775,289.0,0.0,0.0,0.0,32.0,"17,000",0,32.0,1.0,"180,059",PE,Fernando de Noronha,Nordeste
33418,2020,1503002,7.07,538.0,514.0,12.207,63.579,32.0,0.0,0.0,6.0,0.0,"11.770,600",0,149.0,4.0,"0,601",PA,Faro,Norte
33419,2021,3166709,8.725,852.0,773.0,28.283,0,82.0,6.0,6.0,40.0,5.0,"213,600",0,106.0,1.0,"40,847",MG,Serra dos Aimor√©s,Sudeste